.App {
  text-align: center;
}

table {
  width: 60%;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  background-color: #04aa6d;
  color: white;
}

tr,
td {
  border: 1px solid black;
}

.table {
  display: flex;
  justify-content: center;
}
